<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<form action="/account_summmary_2" method="post">

</form>

<a href="/logout">Logout</a><br/>
<h2>Your balance is <%= bal %></h2>

<table>
    <th>To</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Datetime</th>

    <% if (allTransaction){
    allTransaction.forEach(function (item) {
        if(item.from==userName) {
    %>
        <tr>
            <td><%= item.to %></td>
            <td><%= item.amount %></td>
            <td><%= item.status %></td>
            <td><%= item.timestamp %></td>
        </tr>
    <% }}) }%>
</table>
<br>
<br>
<br>
<table>
		<th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Datetime</th>
        
        <% if (allTransaction){
        allTransaction.forEach(function (item) {
            if (item.status==-1 && item.amount < 100000) {
        %>
        <tr>
        	<td><%= item.from %></td>
            <td><%= item.to %></td>
            <td><%= item.amount %></td>
            <td><%= item.status %></td>
            <td><%= item.timestamp %></td>

            <form  action="/banking/accept_transaction" method="post">
                <td><input type="hidden" value=<%=item._id%> name="transactionID" /></td>
                <td><input type="submit" value="Accept" /></td>
            </form>

            <form  action="/banking/reject_transaction" method="post">
                <td><input type="hidden" value=<%=item._id%> name="transactionID" /></td>
                <td><input type="submit" value="Reject" ></td>
            </form>

        </tr>
        <%}}) }%>
</table>

<a href="/make_transaction"></a><br/>
<a href="/get_trans_list">Get Transactions in range</a>

</body>
</html>