<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<form action="/account_summmary_2" method="post">

</form>

<a href="/logout">Logout</a><br/>
<table>
		<th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Datetime</th>
        <th>Accept</th>
        <th>Reject</th>
        <% if (trans){
        trans.forEach(function (item) {
        	if(item.status==-1) {
        %>
        <tr>
        	<td><%= item.from %></td>
            <td><%= item.to %></td>
            <td><%= item.amount %></td>
            <td><%= item.status %></td>
            <td><%= item.timestamp %></td>

	        <td><input type="submit" value="Accept" /></td>
    	    <td><input type="submit" value="Reject" ></td>

        </tr>
        <% }}) }%>
    </table>
    
<a href="/make_transaction"></a><br/>
<a href="/get_trans_list">Get Transactions in range</a>

</body>
</html>