<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body oncontextmenu="return false">
<h1>Transaction Search</h1>
<p>
<script>
 document.onkeydown = function(e) {
    if (e.ctrlKey && (e.keyCode === 67 || e.keyCode === 86 || e.keyCode === 85 ||     e.keyCode === 117 || e.keycode === 17 || e.keycode === 85)) {
        alert('not allowed');
    }
    return false;
};
</script>
<table>
    <th>To</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Datetime</th>

    <% if (trans){
    trans.forEach(function (item) {
    %>
        <tr>
            <td><%= item.to %></td>
            <td><%= item.amount %></td>
            <td><%= item.status %></td>
            <td><%= item.timestamp %></td>
        </tr>
    <% }) } %>
</table>


<h1><%= title %></h1>


<form action="/get_trans_list/get_list" method="post">
    <input type="date" placeholder="From Date" name="from" required/>
    <input type="date" placeholder="To Date" name="to" required/>
    <input type="submit" value="Get Transactions"/>
</form>

<a href="/banking">Back to Account Summary</a><br>
<a href="/logout">Logout</a>
</p>
</body>
</html>
