<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>


<a href="/logout">Logout</a><br/>

<p>Name : <%= name %></p>
<p>Phone : <%= ph %></p>
<p>Date of Birth : <%= dob %></p>
<p>Balance : <%= bal %></p>

<a href="/edit_user_details">Edit your details</a><br/>
<a href="/make_transaction">Make a transaction</a><br/>
<a href="/get_trans_list">Get Transactions in range</a><br/>
<a href="/banking">Back to Account Summary</a>

</body>
</html>
